In [2]:
import yfinance as yb
import pandas as pd

In [3]:
tickerSymbol = "AAPL"
tickerData = yb.Ticker(tickerSymbol)
start_date = '2018-01-01'
end_date = '2023-11-11' 
apple_df = tickerData.history(period='1d', start=start_date, end=end_date)

In [4]:
filename = 'AppleData.csv'
apple_df.to_csv(filename)
apple_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-02 00:00:00-05:00,40.226425,40.732328,40.013659,40.722870,102223600,0.0,0.0
2018-01-03 00:00:00-05:00,40.786712,41.264248,40.651963,40.715790,118071600,0.0,0.0
2018-01-04 00:00:00-05:00,40.789064,41.008922,40.680321,40.904903,89738400,0.0,0.0
2018-01-05 00:00:00-05:00,41.001839,41.458097,40.909642,41.370628,94640000,0.0,0.0
2018-01-08 00:00:00-05:00,41.216961,41.514828,41.117668,41.216961,82271200,0.0,0.0

In [5]:
#checking for any missing values
apple_df.isna().sum()

Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [6]:
apple_df.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1476.000000,1476.000000,1476.000000,1476.000000,1.476000e+03,1476.000000,1476.000000
mean,106.871192,108.115662,105.722295,106.974882,1.086126e+08,0.003386,0.002710
std,50.378502,50.928774,49.869864,50.426184,5.500393e+07,0.026495,0.104116
min,34.548391,34.965910,34.073286,34.118877,3.145820e+07,0.000000,0.000000
25%,51.576630,51.952122,51.054188,51.429579,7.276972e+07,0.000000,0.000000
50%,119.737141,121.289956,118.113714,119.476349,9.432060e+07,0.000000,0.000000
75%,149.340364,150.917661,147.759039,149.688763,1.295328e+08,0.000000,0.000000
max,195.717515,197.702207,194.760064,195.926956,4.265100e+08,0.240000,4.000000

In [7]:
apple_df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

## Changing the Date to datetime format

In [8]:

apple_df.index = pd.to_datetime(apple_df.index)

# Check the first few rows to confirm the conversion
print(apple_df.head())

                                Open       High        Low      Close  \
Date
2018-01-02 00:00:00-05:00  40.226425  40.732328  40.013659  40.722870
2018-01-03 00:00:00-05:00  40.786712  41.264248  40.651963  40.715790
2018-01-04 00:00:00-05:00  40.789064  41.008922  40.680321  40.904903
2018-01-05 00:00:00-05:00  41.001839  41.458097  40.909642  41.370628
2018-01-08 00:00:00-05:00  41.216961  41.514828  41.117668  41.216961

                              Volume  Dividends  Stock Splits
Date
2018-01-02 00:00:00-05:00  102223600        0.0           0.0
2018-01-03 00:00:00-05:00  118071600        0.0           0.0
2018-01-04 00:00:00-05:00   89738400        0.0           0.0
2018-01-05 00:00:00-05:00   94640000        0.0           0.0
2018-01-08 00:00:00-05:00   82271200        0.0           0.0

In [9]:
apple_df.duplicated().sum()

0

In [11]:
apple_df.set_index('Date',inplace = True)

KeyError: "None of ['Date'] are in the columns"

In [13]:
apple_df.to_csv("Apple Cleaned Data.csv", index=False)