In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:

apple_cleaned_df = pd.read_csv('/Users/surya/Library/CloudStorage/GoogleDrive-venkatasuryakirannaidu.vakkalagadda@sjsu.edu/My Drive/Projects/Stock Market Prediction/Apple-stock-Prediction/Apple Cleaned Data.csv')

In [3]:
apple_cleaned_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,40.226428,40.732332,40.013663,40.722874,102223600,0.0,0.0
1,40.786696,41.264232,40.651948,40.715775,118071600,0.0,0.0
2,40.789072,41.008929,40.680328,40.904911,89738400,0.0,0.0
3,41.001832,41.458089,40.909635,41.370621,94640000,0.0,0.0
4,41.216969,41.514836,41.117676,41.216969,82271200,0.0,0.0